<!--***************************************************************************
//     Application: Email Application
//     Author:      Joshua McClure(jmcclu23)
//     Date:        2017-04-23
//     File:        decryptedemail.ejs
//     Description: Displays Decrypted email to read
//*****************************************************************************
//     History
//*****************************************************************************
// Date         Version     User       Description
//2017-04-23      1.0     jmcclu23     Initial Commit, new program
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>Welcome, <%= user.local.name %></h1>
        <a href="/inbox" class="btn btn-default btn-sm">Inbox</a>
        <a href="/send" class="btn btn-default btn-sm">New Email</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="well">
        <p>Account: <%= user.local.email %> </p></br>
        <h3>Viewing Decrypted Email</h3></br>
        <form action="/reply" method="post">
          <p>To: <%= from %>
            <input type="hidden" name="toID" value = <%= from %>>
          </p></br>
          <p>From: <%= user.local.email %>
            <input type="hidden" name="fromID" value = <%= user.local.email %>>
          </p></br>
          <% var replySubject = 'Reply:' %>
          <% replySubject += subject %>
          <p>Subject: <%= subject %>
            <input type="hidden" name="subject" value = <%= replySubject %>>
          </p></br>
          <textarea cols="50" rows="4" name = "body" style="display:none;">
              &#13;<%= decryptedText %></textarea>
          <p><%= decryptedText.toString()%></p>
          </br>
          <input type="submit" value = "Reply">
        </form>
    </div>
  </div>
  </body>
</html>
