<!--***************************************************************************
//     Application: Email Application
//     Author:      Joshua McClure(jmcclu23)
//     Date:        2017-04-23
//     File:        email.ejs
//     Description: Displays encrypted email and allows input /                  passpharse to decyprt
//*****************************************************************************
//     History
//*****************************************************************************
// Date         Version     User       Description
//2017-04-23      1.0     jmcclu23     Initial Commit, new program
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>Welcome, <%= user.local.name %></h1>
        <a href="/inbox" class="btn btn-default btn-sm">Inbox</a>
        <a href="/send" class="btn btn-default btn-sm">New Email</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="well">
        <% var array = new Array(); %>
        <% array = readFile(user.local.email,emailID) %>
        <% for(i=0; i<array.length; i++) { %>
          <% var tempString = array[i] %>
          <% var tempArray = new Array() %>
          <% var encryptedString = new String() %>
          <% tempArray = tempString.split(":") %>
        <% } %>
        <p>Account: <%= user.local.email %> </p></br>
        <h3>Viewing Encrypted Email</h3>
        <p>To: <%=user.local.email %></p>
        <p>From: <%= from %></p>
        <p>Subject: <%= subject.replace(/&&&/g,':').replace(/%%%/g, ' ') %> </p>
        <% for(i = 0; i<tempArray.length; i++){ %>
          <% tempArray[i].replace(/%%%/g,' ').replace(/&&&/g,':') %></P>
          <% encryptedString +=tempArray[i].replace(/%%%/g,' ').replace(/&&&/g,':') %>
          <p><%= encryptedString %></p>
        <% } %>
        <form action="/decrypt" method="post">
          <input type="hidden" name="emailID" value =<%= emailID %>>
          <input type="hidden" name="emailTo" value=<%= user.local.email %>>
          <input type="hidden" name="fromID" value =<%= from %>>
          <input type="hidden" name="subject" value =<%= subject %>>
          <p>Please input secret phrase:</p><input type = "text" name="secret">
          </br>
          <input type="submit" value = "decrypt">
        </form>
      </div>
    </div>
  </body>
</html>
