<!--***************************************************************************
//     Application: Email Application
//     Author:      Joshua McClure(jmcclu23)
//     Date:        2017-04-23
//     File:        inbox.ejs
//     Description: Displays inbox
//*****************************************************************************
//     History
//*****************************************************************************
// Date         Version     User       Description
//2017-04-23      1.0     jmcclu23     Initial Commit, new program
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <style>
      table { border-collapse: collapse;
              border: 2px black solid;
              font: 12px sans-serif;
      }
      td { border: 1px black solid;
           padding: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h2>Welcome, <%= user.local.name %></h2>
        <a href="/send" class="btn btn-default btn-sm">New Email</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="well">
        <p>Account: <%= user.local.email %> </p></br>
        <h3>Inbox</h3>
        <p>
          <table class="table table-striped table-hover">
            <tr>
              <% var emailPath = user.local.email+'_index.txt'%>
              <% var array = new Array(); %>
              <% array = readFile(user.local.email,emailPath) %>
              <% var tempString = array[0] %>
              <% if(array.length > 0 && tempString != "") { %>
                <th>From</th><th>Subject</th><th></th>
            </tr>
              <% for(i=0; i<array.length; i++) { %>
            <tr>
              <% var tempString = array[i] %>
              <% var tempArray = new Array() %>
              <% tempArray = tempString.split(":") %>
              <td><%= tempArray[0] %></td>
              <td><%= tempArray[1].replace(/&&&/g,':').replace(/%%%/g," ") %>
              </td>
              <td>
                <form action="/email" method="post">
                  <input type="hidden" name="fromEmail" value=<%= tempArray[0] %>>
                  <input type="hidden" name="subject" value=<%= tempArray[1].replace(/:/g,'&&&').replace(/ /g, '%%%') %>>
                  <input type="hidden" name="emailID" value =<%= tempArray[2] %>>
                  <input type="submit" value = "Open">
                </form></br>
                <form action="/delete" method="post">
                  <input type="hidden" name="toEmail" value=<%= user.local.email %>>
                  <input type="hidden" name="fromEmail" value=<%= tempArray[0] %>>
                  <input type="hidden" name="subject" value=<%= tempArray[1].replace(/:/g,'&&&').replace(/ /g, '%%%') %>>
                  <input type="hidden" name="emailID" value =<%= tempArray[2] %>>
                  <input type="submit" value = "delete">
                </form>
              </td>
            </tr>
              <% } %>
              <%} else {%>
            <tr> No Emails!</tr>
              <%}%>
          <table>
        </div>
      </div>
    </div>
  </body>
</html>
