<!--***************************************************************************
//     Application: Email Application
//     Author:      Joshua McClure(jmcclu23)
//     Date:        2017-04-23
//     File:        replyl.ejs
//     Description: displays reply form
//*****************************************************************************
//     History
//*****************************************************************************
// Date         Version     User       Description
//2017-04-23      1.0     jmcclu23     Initial Commit, new program
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>Welcome, <%= user.local.name %></h1>
        <a href="/inbox" class="btn btn-default btn-sm">Inbox</a>
        <a href="/send" class="btn btn-default btn-sm">New Email</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="well">
        <p>Account: <%= user.local.email %> </p></br>
        <h3>Reply To Email</h3></br>
        <form action="/send" method="post">
          <p>To:
            <input type="text" name="toID" value = <%= from %>
              readonly></p></br>
          <p>From:
            <input type="text" name="fromID" value = <%= user.local.email %>
              readonly></p></br>
          <% var replySubject = 'Reply:' %>
          <% replySubject += subject %>
          <p>Subject:
            <input type="text" name="subject" value = <%= replySubject %>
            readonly></p></br>
            <p>Previous Message:</p>
              <textarea cols="50" rows="4" readonly>
                &#13;<%= body%></textarea>
          </br>
          </br>
          <P>Reply:</p>
          </br>
          <textarea cols="50" rows="4" name="emailBody">
          </textarea>
          </br>
          <input type="submit" value = "Reply">
        </form>
    </div>
  </div>
  </body>
</html>
